/* CSS learned from: "The Everything Quiz": https://github.com/Tony118g/the-everything-quiz/blob/main/assets/css/style.css */
/* Google Fonts link */

@import url('https://fonts.googleapis.com/css?family=Raleway%7CRighteous');

/* General styling for Estonia Quiz */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: comfortaa, sans-serif;
    background-image: url("../images/cornflower.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #6495ED;
    color: #405eaf;
    padding-bottom: 5px;
    text-align: center;    
}

/* Headings styling */

h1 {
    font-size: 2.5rem;
    color: #8090BC;
    padding-top: 5px;
}

h2 {
    font-size: 2.8rem;
    margin-top: 13px;
    padding: 5px;
    font-weight: bold;
    color: #8090BC;
}

/* Quiz Timer styling */

#timer {
    margin-left: 10px;
}

/* Paragraphs styling */

p {
    font-size: 1.2rem;
    padding: 12px;
    font-weight: bold;
}

/* Buttons styling */

.btn {
    color: #6495ED;
    text-shadow: 0px 3px 15px #8090BC;
    font-weight: bold;
    background-color: #8090BC;
    display: block;
    padding: 15px;
    width: 65%;
    min-width: 165px;
    margin: 15px;
    font-family: comfortaa, sans-serif;
    font-size: 1.5rem;
    border: none;
    border-radius: 15px;
    color: #FFFFFF;  
}

/* Buttons to close Modals, styling */

.close_modal {
    position: absolute;
    top: 7px;
    text-wrap: wrap;
    right: 15px;
    padding: 3px;
    background-color: #8090BC;
    font-size: 0.7rem;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
    font-family: comfortaa, sans-serif;
}

/* Question section styling */

#question_section {
    margin-top: 10px;
}

/* Answer section buttons styling */

#answer_section > .btn {
    color: #6495ED;
    background-color: #FFFFFF;
}

/* Container styling (learned extra from https://www.youtube.com/watch?v=K24lUqcT0Ms */

.container {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #E6F4F1;
    max-width: 400px;
    margin-top: 40px;
    padding: 20px;
    border: 0.5rem solid #7189cb; /* tone color variation from: https://www.colorhexa.com/8090bc */
    border-radius: 15px;
}

/* Guidelines modal styling */

#guidelines_heading {
    font-size: 2rem;
    color: #8090BC;
}

li {
    text-align: left;
    margin: 0 15px;
    padding: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #8090BC;
}

/* Styling to hide containers */

.hide {
    display: none;
}

/* Styling for correct and incorrect answer buttons */

.correct_answer {
    color: #FFFFFF;
    background-color: green !important;
    box-shadow: 0px 0px 10px 5px #8090BC;
}

.incorrect_answer {
    color: #FFFFFF;
    background-color: red !important;
    box-shadow: 0px 0px 10px 5px #8090BC;
}

#next_question_button {
    color: #6495ED;
    background-color: #FFFFFF
}

/* Styling to prevent clicks in the Answer section when the no-pointer class is applied */

.no-pointer {
    pointer-events: none;
}

/* Exit Quiz button styling */

/*#exit_quiz {
    font-size: 0.9rem;
    margin-top: 3px;
    margin-bottom: 2px;
}*/

/* Footer styling */

footer {
    margin-top: auto;
    color: #FFFFFF;
    text-align: center;
}

footer > p {
    font-size: 0.9rem;
}

/* Provides feedback when user hovers over buttons, styling */

.btn:hover {
    border-color: #8090BC;
    color: #E6F4F1;
    box-shadow: 0px 0px 10px 5px #8090BC;
}

.close_modal:hover {
    background-color: #8090BC;
    border-color: #8090BC;
    box-shadow: 0px 0px 10px 5px #8090BC;
}

#answer_section > .btn:hover {
    background-color: #8090BC;
    color: #8090BC;
    box-shadow: 0px 0px 10px 5px #8090BC;
}

.error_page_title {
    color: #6495ED;
    text-align: center;
    padding: 10px;
}

.error_page,
.error_container {
    position: relative;
    display: block;
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
    padding: 15px;
}

.page_link {
    font-size: 2rem;
    color: #6495ED;
    text-align: center;
}

/* Media Queries - stlying for xs, s, etc learned from https://www.youtube.com/watch?v=K24lUqcT0Ms*/

/* Media Queries for 'XXXS' screens */
@media (max-width: 320px) {
    .container {
        max-width: 250px;
    }

    h2 {
        font-size: 1.2rem;
    }
}

/* Media Queries for 'XXS' screens */
@media (min-width: 320px) {
    .container {
        max-width: 300px;
       /* max-height: min-content;*/
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.4rem;
        font-weight: bold;  
    }

    .btn {
        font-size: 1.3rem;
        padding: 5px;
        margin: 10px auto;
    }
}

/* Media Queries for 'XS' screens */
@media (min-width: 475px) {
    .container {
        max-width: 380px;
    }

    h1 {
        font-size: 2rem;
    }
}

/* Media Queries for 'S' screens */
@media (min-width: 648px) {
    .container {
        max-width: 400px;
    }
}

/* Media Queries for 'M' screens */
@media (min-width: 768px) {
    .container {
        max-width: 400px;
    }
}

/* Media Queries for 'L' screens */
@media (min-width: 1024px) {
    .container {
        max-width: 500px;
    }
}

/* Media Queries for 'XL' screens */
@media (min-width: 1280px) {
    .container {
        max-width: 500px;
    }
}

/* Media Queries for 'XXL' screens */
@media (min-width: 1536px) {
    .body {
        padding-top: 50px;
    }

    .container {
        max-width: 500px;
    }
}
