/* Base code for this css code learned from https://youtu.be/riDzcEQbX6k?feature=shared , unless credited otherwise for some lines of codes */
*, *::before, *::after {
  box-sizing: border-box;
  font-family: Comfortaa, sans-serif;
}

:root {
    --hue-neutral: 190;
    --hue-incorrect: 0;
    --hue-correct: 140;
}

/* This html styling, from https://youtu.be/yc2olxLgKLk?feature=shared */
html {
    height: 100%;
}

/* Background image. Credit in README. Photo taken by the developer */
body {
    --hue: var(--hue-neutral);
    background-image: url("../images/cornflower.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #6495ED;
    color: #333333;
    padding: 16px;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
    
    /* this part of body styling, to push down footer, from https://youtu.be/yc2olxLgKLk?feature=shared */
    flex-direction: column;
}

body.correct {
    --hue: var(--hue-correct);
}

body.correct {
    --hue: var(--hue-incorrect);
}


/* Container edited following this video: https://youtu.be/rFWbAj40JrQ?feature=shared  . Edit
padding to px as per mentor's suggestion */

.quizcontainer {
    width: auto;
    max-width: max-content;
    height: auto;
    max-height: max-content;
    background-color: #E6F4F1;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 0 0 9px 1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 150px;
    margin-bottom: 80px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* headings styling base code for now from: https://youtu.be/rFWbAj40JrQ?feature=shared */

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 3.5rem;
    color: #333333;
    margin-bottom: 2rem;
}

h1 > span {
    font-size: 2rem;
    font-weight: 400;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

/* Button grid code and other button styles base from: https://youtu.be/riDzcEQbX6k?feature=shared */
.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 11px;
    margin: 10px 0;
}

/* Buttons styling edited following code from this video https://youtu.be/rFWbAj40JrQ?feature=shared */

.btn {
    --hue: var(--hue-neutral);
    border: 0.1rem solid #8090BC;
    background-color: #F4F9FF;
    border-radius: 4px;
    padding: 6px 8px;
    outline: none;
    font-size: 1.5rem;
    width: 10rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1rem;
    color: #6495ED;
}

.btn:hover {
    border-color: #8090BC;
    cursor: pointer;
    transition: transform 150ms;
    box-shadow: 0 0.4rem 1.4rem 0 #6495ED;
}


/* Colors for correct and incorrect answers, copied from: https://github.com/andreas-ka/leeds-quiz/blob/main/assets/css/style.css */
.btn.correct {
    --hue: var(--hue-correct);
    color: green;
}

.btn.incorrect {
    --hue: var(--hue-incorrect);
    color: rgb(239, 29, 29);
}

.startquiz-btn, 
.nextques-btn {
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 15px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.footer {
    font-size: 15px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    width: 80%;
    color: black;
    text-align: center;
    line-height: 20px;
}

.error-container {
    text-align: justify;
    background-color: #6495ED;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(22, 35, 209, 0.1);
}

/* Media Queries, learner from: https://www.freecodecamp.org/news/learn-css-media-queries-by-building-projects/ */
@media (min-width : 480px) and (max-width : 768px) {
    .quizcontainer {
        background-color: #E6F4F1;
        height: auto;
        display: grid;
        place-items: center;
        margin-left: 60px;
    }
    .btn-grid {
        margin-left: 60px;
    }
    .nextques-btn {
        margin-left: 60px;
    }
}